body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #fdf2f5;
}

header {
  background: #ff4d6d;
  color: white;
  padding: 15px;
  display:flex;
  justify-content:space-between;
}

a {
  color:white;
  text-decoration:none;
  margin:0 10px;
}

.container {
  padding:20px;
}

.product {
  background:white;
  padding:10px;
  margin:10px;
  border-radius:10px;
  display:inline-block;
  width:200px;
  text-align:center;
}

button {
  background:#28a745;
  color:white;
  border:none;
  padding:10px;
  cursor:pointer;
  border-radius:5px;
}

input {
  padding:10px;
  width:80%;
  margin:5px;
}
